
<div class="row">
<h1>Sell a Ticket</h1></br>
  <div class="col-mid-6">
    <%= form_for @ticket, html: { class: 'form-horizontal' } do |t| %>
      <div class="control-group">
        <%= t.label :title, class: 'control-label' %>
        <div class="controls">
          <%= t.text_field :title %>
        </div>
      </div>

      <div class="control-group">
        <%= t.label :description, class: 'control-label' %>
        <div class="controls">
          <%= t.text_field :description %>
        </div>
      </div>

      <div class="control-group">
        <%= t.label :date, class: 'control-label' %> 
        <div class="controls">
          <%= t.date_select(:date, :order => [:month, :day, :year]) %>
        </div>
      </div>

      <div class="control-group">
        <%= t.label :time, class: 'control-label' %>
        <div class="controls">
          <%= t.time_select :time %>
          <p><small>All times in CST</small></p>
        </div>
      </div>

      <div class="control-group">
        <%= t.label :price, class: 'control-label' %>
        <div class="controls">
          <%= t.text_field :price, :class => 'price', :value => (number_with_precision(t.object.price, :precision  => 2)|| 0) %>
          <p><small>Example: 49.99</small></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= t.submit "Save Ticket", class: 'btn btn-primary' %> 
        </div>
      </div>
    <% end %>
  </div>
</div>